.navbarContainer {
    padding: 5px 30px;
    box-shadow: 0 2px 35px rgba(97, 84, 172, 0.5);
}

.navbartop {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;
}

.navbartop .menuIcon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    color: #6154AC;
}

.navbartop div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-items: center;
}

.navbartop .navLogo {
    height: 60px;
    width: 60px;
}

.navbartop h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #6154AC;
}